<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<!-- Will be replaced with Azure Portal Application Settings -->
	<add name="MainDatabase" connectionString="Server=tcp:clouddevelopment2021.database.windows.net,1433;Initial Catalog=CloudDevelopmentDb;Persist Security Info=False;User ID=skrhakv;Password=v123456789V;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
</connectionStrings>
<appSettings>
	<!-- Will be replaced with Azure Portal Application Settings -->
	<add key="SmtpHost" value="smtp.sendgrid.net" />
	<add key="SmtpUsername" value="vitek.skrhak@seznam.cz" />
	<add key="SmtpPassword" value="v123456789v123456789" />
	<add key="SmtpFrom" value="vitek.skrhak@seznam.cz" />
</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>