<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="CacheConnection" value="CloudDevRC.redis.cache.windows.net,abortConnect=false,ssl=true,allowAdmin=true,password=I32CJNi3AkhEAwG9aZbu8VxkqrpS4ZeT7MSMbyynH3o="/>
    </appSettings>

</configuration>